
*{
	box-sizing: border-box;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}

@keyframes body {
  from {
   opacity: 0
  }

  to {
    opacity: 1
  }
}

body,html{
	height: 100vh;
	animation-name: body;
	animation-duration: 2s;
	user-select: none;
	scroll-behavior: smooth;
}

.fondo{
	background-image: url("multimedia/fotos/fondo.jpg");
	background-position:50% 10%;
	background-size:cover;
	height: 100%;
	filter:brightness(65%);
}

.home{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	width: 90vw;
	height: 90%;
}

.header{
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}

.header__nav{
	display: flex;
	justify-content: space-between;
}



.header__nav a{
	font-size: 1.5em;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
	transition: all 0.3s;
	margin: 0 10px;
	padding-bottom: 15px;
}

.header__nav a i{
	margin:0 7px;
}



.header__nav a:hover{
	color: #BFDAFF;
	text-shadow:  3px 3px 15px  #fff;
	border-bottom: 5px solid #6A83A5;
}


.header div{
	font-size: 2.5em;
	font-family: 'Josefin Sans', sans-serif;
	font-style: oblique;
	text-shadow: 1px 1px 10px #fff;
}

.header2{
	width: 90vw;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 35px 5px 35px;
	
	
}

.header2__nav{
	display: flex;
	justify-content: space-between;
}



.header2__nav a{
	font-size: 1.5em;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
	transition: all 0.3s;
	margin: 0 5px;
	padding-bottom: 5px;
	
}

.header2__nav a i{
	margin:0 7px;
}



.header2__nav a:hover{
	color: #BFDAFF;
	text-shadow:  3px 3px 15px  #fff;
	border-bottom: 2px solid #6A83A5;
}


.header2 div{
	font-size: 2.5em;
	font-family: 'Josefin Sans', sans-serif;
	font-style: oblique;
	text-shadow: 1px 1px 10px #fff;
}

.main{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




.main h3{
	padding: 15px 0px;
	margin-left: 15px;
	font-style: italic;
}


.main__contact{
	max-width: 75%;
	min-height: 25%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.main__contact div{
	display: inline-flex;
	margin: 10px;
	padding: 5px;
	font-size: 1.5em; 
	transition: all 0.5s;
	padding-bottom: 8px;
	border-bottom: 1px solid #bbb;
	text-decoration: none;
}

.main__contact div a{
	text-decoration: none;
}


.main__contact div:hover {
	color: #BFDAFF;
	padding: 12px;
	border: 2.5px solid #6A83A5; 
}

.footer{
	display: block;
	height: 16%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.footer div{
	padding: 10px 1px;
}

.footer a{
	padding: 0 17px 0 5px;
}

.footer a i{
	transition: all 0.5s;
	border-radius: 50%;
}


.footer a i:hover{
	font-size: 1.5em;
	transform: translate(5px,-5px);
	box-shadow:  1px 1px 20px  #fff;
}

.fondo2{
	background-image: url("multimedia/fotos/fondo2.jpg");
	background-position:50% 10%;
	background-size:cover;
	height: 100%;
	filter:brightness(50%);
}


.home_proyectos{
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.home_proyectos1{
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.home_proyectos1 > div{
	display: inline-flex;
	margin: 10px 75px;
	padding: 5px;
	font-size: 1.5em; 
	transition: all 0.5s;
	padding-bottom: 8px;
	border-bottom: 1px solid #fff;
	color: #fff;
	
}

.home_proyectos1 > div:hover {
	color: #BFDAFF;
	padding: 12px;
	border: 2.5px solid #6A83A5; 
}


.fondo3{
	background-image: url("multimedia/fotos/fondo3.jpg");
	background-position:10% 10%;
	background-size:cover;
	height: 100%;
	filter:brightness(60%);
}

.home_contacto {
	height: 100%;
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	flex-direction: column;

}

.home_contacto-formulario{
	margin-top: 35px;
	width: 80vw;
	
}


.home_contacto-formulario input{
	display: block;
	border:  1px solid #fff;
	background: none;
	margin: 10px 0; 
	width: 70%;
	height: 30px;
	outline: none;
}


.home_contacto-formulario input:focus{
	border:  1px solid #6A83A5;
	transition: 0.5s;
}

.home_contacto-formulario .home_contacto-formulario3{
	display: block;
	border:  1px solid #fff;
	background: none;
	margin: 10px 0; 
	width: 70%;
	height: 250px;
	outline: none;
}

.home_contacto-formulario .home_contacto-formulario3:focus{
	border:  1px solid #6A83A5;
	transition: 0.5s;
}



.home_contacto button{
	color: #fff;
	text-decoration: none;
	width: 70%;
	background: none;
	border: none;
	border-bottom: 1px solid #fff;
	margin: 10px 0;
	padding: 3px 0;
	cursor: pointer;
}

.home_contacto button:hover{
	color: #BFDAFF;
	padding: 8px;
	border: 1.5px solid #6A83A5; 
	transition: 0.5s;
}






@media screen and (max-width: 600px){

*{
	user-select: none;
}

.header{
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 40vh;
}


.header__nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.header__nav a{
	margin-top: 15px; 
	margin-bottom: 15px; 
}

.header div{
	margin-bottom: 10%;
}


.main{
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 40vh;

}


.main__contact{
	min-width: 100%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}





.footer{
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
	
}
