* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  color: rgb(56, 95, 86);
  font-family: "Raleway", sans-serif;

  background: rgb(149, 217, 203);
  background: linear-gradient(
    0deg,
    rgba(149, 217, 203, 0.6923144257703081) 0%,
    rgba(184, 218, 209, 0.7819502801120448) 25%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  height: 100vh;
}

#tituloConsultorio {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  padding-bottom: 10px;
  padding-top: 50px;
}

#titulo2WebTurnos {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 35px;
  padding-bottom: 40px;
  padding-top: 25px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 50%;
  padding-bottom: 25px;
}
.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0px hidden #000000;
  border-radius: 12px;
  background: #97b8b2;
  color: #4f4d89;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #def5ff;
  background: #6ea299;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 10px;
  right: 22px;
  width: 10px;
  height: 10px;
  border: solid #4f4d89;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #e0f5ff;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #4f4d89;
}

.resultadoCalendario {
  position: relative;
  height: auto;
  overflow: hidden;
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s, 3s, 5s;
}

.resultadoCalendarioContent {
  position: relative;
  top: -40px;
}
